table,
  th {
    background-color: black;
    border: 1px solid grey;
    padding: 5px;
    font: 'Tahoma';
    color: lawngreen;
    font-size: 10pt;  
  }
  
  td {
    background-color: darkgoldenrod;
    border: 1px solid grey;
    padding: 5px;
    font: 'Tahoma';
    color: black;
    font-size: 10pt;  
  }
  
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
    font: 'Tahoma';
    font-size: 8pt;
    color: deeppink;
  }
  
  table tr:nth-child(even) {
    background-color: #ffffff;
    font: 'Tahoma';
    font-size: 8pt;
    color: deeppink;
  }
  
  #ridestable tr:hover {
      background-color: #ddd;
  }

  table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
  }
  body {
    background-color: black;
  }
  
  h1 {
    color: lawngreen;
    font: 'Tahoma';
    font-size: 14pt;
  }
  
  h2 {
    color: lawngreen;
    text-align: left;
    font: 'Tahoma';
    font-size: 8pt;
  }
  
  p {
    font-size: 11pt;
    color: lawngreen;
    font: 'Gill Sans';
  }
  
  button {
    font-size: 11pt;
    color: lawngreen;
    background-color: black;
    font: 'Gill Sans';
    font-size: 11pt;
  }
  
  select {
    font-size: 10pt;
    color: black;
    font: 'Tahoma';
  }
  
